.container {
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #9a00ff, #5e00c6);
  color: white;
  text-align: center;
}

.container h1 {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 10px;
}

.container p {
  font-size: 20px;
  margin-bottom: 30px;
  color: #e6d6ff;
  font-weight: 500;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container button {
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(41, 40, 40);;
  background-color: #ba9bd5;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.container button:hover {
  background-color: #9d4edd;
  color:white;
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
